{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

            <div class="row">
            {% for product in products %}
                <div class="col-md-3 col-sm-6">
                    
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-center">{{ product.nom }}</p>
                        </div>
                        <img src={{"/uploads/files/" ~ product.thumbnail}} alt="">
                        <div class="card-body">
                            <p class="card-text text-center">{{ product.prix }}</p>
                        </div>
                    </div>
                    <hr>
                    {% if not user == '' %}
                    <a href="{{ path('cart_add', {'id': product.id, 'catID': cat}) }}" class="btn btn-success float-right">add to cart</a>
                    {% endif %}
                </div>
                {% endfor %}
                
            </div>
        {% endblock %}
